* {    box-sizing: border-box;}

html,
body {
    margin:0;
    font-size: 14px;
    color: black;
}

a {
    text-decoration: none;
    color: black;   
}
.footer_left a {color: #fecb00;}

.conteiner {
    display: flex;
    background-color: black;
    align-items: center;}

.nav {
    border: solid #fecb00;
    border-radius: 20px;
    background-color: #fecb00;
    display: flex;}

.nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;}

    .nav li {padding: 10px 20px;
    font-size: 20px;}

    .info_box {     width: 80%; 
         height: 200px; 
         display: flex; 
         flex-direction: column; 
         justify-content: space-around;}

.my_info_header {
    border: #fecb00 solid;
    border-radius: 20px;
    background-color: #fecb00;
    text-align: center;
}

.photo_header img {
    border: 4px solid  #fecb00;
    border-radius: 5%;
}

/**main**/

.conteiner_2 {display: flex;}

.aside_conteiner {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: white;
    background-color: black;
}

.education_box {
    padding: 40px;
    margin: 30px;
}

.aside_name {
    font-size: 25px;
    border-bottom: 3px solid #fecb00;
    border-inline: 20px;
}

.about_me {
    padding: 10px;
}

.about_me h2 {text-align: center;
font-size: 30px;
font: 900;
border-bottom: 1px solid black;}


.about_me p {
    font-style: italic;
    font-size: 20px;
}

.about_me h4 {
    border-bottom: 1px solid black;
    font-size: 18px;
    font-weight: 800;
}

.about_me li {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.my_code {
    text-align: center;
}

.my_code img {
    width: 500px;
    height: auto;
}

.my_code h3 {
    border-bottom: 2px solid black;
    font-size: 20px;
    font-weight: 900;

}


.projeckt {
    text-align: center;
}
.projeckt h2 {
    padding-bottom: 10px;
    border-bottom: 5px dashed  black;
    font-size: 20px;
    font-weight: 600;
}
.projeckt p {
    color: #a00000;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
.progeck_img img{border: #fecb00 2px solid;
border-radius: 20px;
margin-bottom: 20px;}


/**footer**/

.container_footer {
    width: 100%;
    margin: 0;
}

.in_conteiner_footer {
    background-color: #fecb00;
    display: flex;
    justify-content: space-between
}   

.footer_left {
    width: 300px;
    background-color: black;
    color: #fecb00;
    text-align: center;
    padding-top: 20px;
    
}

.footer_left span {
    padding-left: 10px;
}

.footer_left li {
    padding-right: 10px;
}

.footer_right {
    display: flex;
}   

.footer_left {
    font-size: 16px;
}

.footer_right_img {
    padding-left: 100px;
    padding-right: 100px;
    gap: 80px;
    display: flex;
    align-items: baseline;
}
.footer_right_img p {margin-left: 200px;}

.footer_right_img img {
    border: 1px solid #fecb00;
    border-radius: 100%;
}

.year { margin-right: 20px;}