html,
body {
    margin:0;
    font-size: 14px;
    color: black;
}

.conteiner {
    display: flex;
    background-color: black;
    align-items: center;}

.nav {
    background-color: #fecb00;
    display: flex;}

.nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;}

    .nav li {padding: 10px 20px;
    font-size: 20px;}

    .info_box {     width: 80%; 
         height: 200px; 
         display: flex; 
         flex-direction: column; 
         justify-content: space-around;}

.my_info_header {background-color: #fecb00;
    text-align: center;
}

.photo_header {
    
}

/**main**/

.conteiner_2 {display: flex;}

.aside_conteiner {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: white;
    background-color: black;
}

.education_box {
    padding: 40px;
    margin: 30px;
}

.about_me {
    padding: 10px;
}

.about_me h3 {text-align: center;
font-size: 30px;
font: 900;}


.about_me p {
    font-style: italic;
    font-size: 20px;
}

.about_me h4 {
    font-size: 18px;
    font-weight: 800;
}

.about_me li {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.my_code {
    text-align: center;
}

.my_code img {
    width: 500px;
    height: auto;
}

.my_code h3 {
    font-size: 20px;
    font-weight: 900;

}

/**footer**/

.container_footer {
    width: 100%;
    margin: 0;
}

.in_conteiner_footer {
    background-color: #fecb00;
    display: flex;
}   

.footer_left {
    width: 300px;
    background-color: black;
    color: #fecb00;
    text-align: center;
    padding-top: 20px;
    
}

.footer_left span {
    padding-left: 10px;
}

.footer_left li {
    
    padding-right: 10px;

}

.footer_right {
    display: flex;
    
    
}   

.footer_right_img {
    display: flex;
    font-size:70px;
    text-align: center;
}
.footer_right_img p {margin-left: 200px;}